body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

main {
  margin: auto;
  width: 1200px;

}

h2, h4 {
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 10px;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
}

nav {
  margin: auto 0;
  text-align: right;
  flex-grow: 1;
}

nav a {
  padding: 0px 10px;
  text-decoration: underline;
  color: seashell;

}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

.logo {
  height: 50px;
  padding-left: 10px;
  margin: auto 0;
  justify-content: flex-start;
}
