body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


#header {
  background-color: black;
  border-bottom: 1px solid seashell;
}

#mission {
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
}
#text {
  background-color: black;
  text-align: center;
}
.logo{
  height: 50px;
}
